<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="Sitecore.SharedSource.SplitShot.Enabled" value="true"/> 
      <setting name="Sitecore.SharedSource.SplitShot.Sites" value="website"/>   
    </settings>
    <pipelines>
      <getMediaStream>
        <processor patch:before="*[1]" type="Sitecore.SharedSource.SplitShot.Media.PageScreenshotProcessor, Sitecore.SharedSource.SplitShot"/>
      </getMediaStream>
    </pipelines>
  </sitecore>
</configuration>
